/*

!.gitignore
!start.sh
!stop.sh
!restart.sh
!reload.sh
!develop.sh

!install

!application
application/*
!application/WIMBLY_APPLICATIONS_GO_HERE

!static
static/*
!static/STATIC_FILES_GO_HERE
!static/error_page/403.json
!static/error_page/404.json
!static/error_page/500.json


!lualib
lualib/*
!lualib/wimbly
